html, body {
	display: flex;

	width: 100vw;
	height: 100%;
	overflow: auto;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex: 1;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.GalleryContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 100%;;
}

.GalleryBlockContainer {
	padding: 10px;
	max-width: 600px;
}

.GalleryCanvas {
	width: 100%;
	height: 100%;
	object-fit: contain;
}